
html{
    background-color: rgb(0, 0, 0);
    
}
.title{
    font-size:40px;
    color:white;
}
*:not(div.all > *){
    cursor: url(../images/mouse4.cur), pointer;
    caret-color: rgb(255, 255, 255);
}
div.all > *{
    cursor: url(../images/mouse3.cur), pointer;
    caret-color: rgb(255, 255, 255);
}
.blog{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width:80%;
    height:130px;
    background-color: rgba(0, 0, 0, 0.562);
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.6s;
}
.all{
    width:60%;
    margin-left:5%;
    height: 450px;
    background-color: rgb(255, 206, 146);
    border-radius: 10px;
}
.zw{
    height:100px;
}
.subtitle{
    display:block;
    color:rgb(180, 180, 180);
}
.blog:hover{
    background-color: rgba(0, 0, 0, 0.808);
    transition: background-color 0.7s;
}

.sendit{
    width:auto;
    height:100px;
}
.send{
    margin-left:70px;
	font-size:70px;
	color:rgba(255, 136, 80, 0.692);
	text-shadow:0px 0px 19px rgb(222, 255, 37);
	transform:scale(1);
	transition:font-size 3s,color 3s,text-shadow 3s,transform 3s;
    font-family: fangsong;
    font-weight:bold;
}
.send:hover{
	font-size:80px;
	color:rgb(0, 4, 255);
	text-shadow:0px 0px 11px rgb(255, 86, 142);
	transform:scale(1.1);
	transition:font-size 3s,color 3s,text-shadow 3s,transform 3s;
}

/*用户界面*/
.bloguser{
    width:20%;
    height: 500px;
    position: fixed;
    right:5%;
    top:20%;
    color:white;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.096);
}
.blogqd{
    width:200px;
    height:80px;
    background-color: rgba(0, 0, 0, 0.5);
    color:aqua;
    border-radius: 1px;
    font-size:30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
