<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="../css/first.css" rel="stylesheet">
		<title>SH网站</title>
	</head>
	<body>
		<!--******************head**********************-->
		<span class="dft">——————————————————————————————————————————————————————————————————————————————————————————————————————————————</span>
		<div id="head">
			<span id="name" class="dft">SHXS</span>
			<span class="dft">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<a href="index.html"><span class="titletext">游戏官网</span></a>
			<a href="game.html"><span class="titletext">游戏下载</span></a>
			<a href="ask.html"><span class="titletext">客服咨询</span></a>
			<a href="bug.html"><span class="titletext">问题反馈</span></a>
			<a href="jidog.html"><span class="titletext">举报中心</span></a>
			<a href="money.html"><span class="titletext">账号充值</span></a>
			<a href="huodong.html"><span class="titletext">活动中心</span></a>
			<a href="login.html"><span id="login">登陆</span></a>
			<a href="zc.html"><span id="zc">注册</span></a>
		<span class="dft">——————————————————————————————————————————————————————————————————————————————————————————————————————————————</span>
		</div>
		<!--******************body**********************-->
		<h1>问题反馈</h1>
	</body>
</html>