<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="../css/send.css" rel="stylesheet">
		<link href="../css/first.css" rel="stylesheet">
		<title>SH的生活记录</title>
	</head>
	<body>
		<!--******************head**********************-->
		<span class="dft">——————————————————————————————————————————————————————————————————————————————————————————————————————————————</span>
		<div id="head">
			<span id="name" class="dft">SHXS</span>
			<span class="dft">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<a href="/"><span class="titletext">返回主页</span></a>
		<span class="dft">——————————————————————————————————————————————————————————————————————————————————————————————————————————————</span>
		</div>
		<!--******************body**********************-->
		<div class="send">
			<div class="tl">
				标题
			</div>
			<input type="text" class="titlee" placeholder="输入标题">
			<div class="cont">
				内容
			</div>
			<textarea cols="25" rows="5" placeholder="输入内容" class="textt">text2</textarea>
			
			<button class="submite">发送</button>
		</div>
		<script src="../js/send.js"></script>
		<script type="text/javascript" src="../js/jquery/jquery-1.8.3.min.js"></script>
	</body>
</html>